     /* .....Banner slider..................  */
     .slide {
        position: relative;

    }

    .carousel-control-prev {
        position: absolute;
        top: 50%;
        left: 5%;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .carousel-control-next {
        position: absolute;
        top: 50%;
        right: 1%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    /* .....banner slider..................  */

     /* .....image card slider..................  */
    #myCarousel {
        margin-top: 20px;
    }

    @media (max-width: 768px) {
        .carousel-inner .carousel-item>div {
            display: none;
        }

        .carousel-inner .carousel-item>div:first-child {
            display: block;
        }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-start,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
        gap: 10px;
    }

    @media (min-width: 768px) {

        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next,
        .carousel-item-next:not(.carousel-item-start) {
            transform: translateX(25%) !important;
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-item-prev:not(.carousel-item-end),
        .active.carousel-item-start,
        .carousel-item-prev:not(.carousel-item-end) {
            transform: translateX(-25%) !important;
        }

        .carousel-item-next.carousel-item-start,
        .active.carousel-item-end {
            transform: translateX(0) !important;
        }

        .carousel-inner .carousel-item-prev,
        .carousel-item-prev:not(.carousel-item-end) {
            transform: translateX(-25%) !important;
        }
    }

    /* .....image card slider..................  */

        /* ............................................Subcribe Button.................... */
        .sub_background {
            background-image: url('../images/Earring Collections/background_card.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .Subcribe_input {
            position: relative;
            height: 100%;
        }

        .button_subcribe {
            position: absolute;
            top: 10px;
            right: 3px;
            padding: 0px 10px;
            font-size: 12px;
            background-color: transparent;
            border: none;
        }
        /* ............................................Subcribe Button....................  */