    /* body{
           font-family: 'Satisfy', 'cursive';
         } */

         .containerer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            /* padding: 4px 16px; */
        }

        #cards-container {
            overflow: hidden;
            margin: 20px;
        }

        .cards {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 99999px;
        }

        .card {
            /* Add shadows to create the "card" effect */
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            /* background: rgb(135,55,78); */
            -webkit-transition: 0.3s;
            transition: 0.3s;
            width: 235px;
            margin: 15px 7.5px;
        }

        .card:hover {
            -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .card .img {
            max-width: 250px;
            height: 250px;
            display: inline-block;
        }

        #slide-left-container,
        #slide-right-container {
            display: none;
        }

        #slide-left-container.active,
        #slide-right-container.active {
            display: block;
            cursor: pointer;
        }

        .slide-left,
        .slide-right {
            border-color: #0f0101;
            border-style: solid;
            height: 20px;
            width: 20px;
            margin-top: 30%;
        }

        .slide-left {
            border-width: 4px 0 0 4px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-left: 40%;
        }

        .slide-right {
            border-width: 4px 4px 0 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin-left: 22%;
        }

        .scroller::-webkit-scrollbar {
            width: 0px;
        }



        /* ..............accordance............... */
        .accordionItemHeading {
            cursor: pointer;
            /* margin:0px 0px 10px 0px;
            padding:10px;
            background:#2980b9; */
            color: #161515;
            width: 100%;
            /* -webkit-border-radius: 3px; */
            /* -moz-border-radius: 3px;
        border-radius: 3px; */
            box-sizing: border-box;
        }

        .close .accordionItemContent {
            height: 0px;
            transition: height 1s ease-out;
            -webkit-transform: scaleY(0);
            -o-transform: scaleY(0);
            -ms-transform: scaleY(0);
            transform: scaleY(0);
            float: left;
            display: block;


        }

        .open .accordionItemContent {
            /* padding: 20px; */
            background-color: #fff;
            /* border: 1px solid #ddd; */
            width: 100%;
            /* margin: 0px 0px 10px 0px; */
            display: block;
            -webkit-transform: scaleY(1);
            -o-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: top;
            -o-transform-origin: top;
            -ms-transform-origin: top;
            transform-origin: top;

            -webkit-transition: -webkit-transform 0.4s ease-out;
            -o-transition: -o-transform 0.4s ease;
            -ms-transition: -ms-transform 0.4s ease;
            transition: transform 0.4s ease;
            box-sizing: border-box;
        }

        .open .accordionItemHeading {
            /* margin:0px; */
            /* -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -moz-border-radius-bottomright: 0px;
            -moz-border-radius-bottomleft: 0px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            background-color: #bdc3c7; */
            /* color: #7f8c8d; */
        }

        /* ..............accordance............... */

        /* ..................review icon.............. */
        .star {
            font-size: 23px;
            cursor: pointer;
        }

        .one {
            color: rgb(255, 255, 0);
        }

        .two {
            color: rgb(255, 255, 0);
        }

        .three {
            color: rgb(255, 255, 0);
        }

        .four {
            color: rgb(255, 255, 0);
        }

        .five {
            color: rgb(255, 255, 0);
        }

        /* ..................review icon.............. */

        /* .................product Button................ */
        .btn-product {
            background: var(--darkgreen);
            color: var(--white);
        }

        /* .................product Button................ */

        /* .................read more review  button.............. */
        #more {display: none;}
         /* .................read more review  button.............. */