    /* body{
           font-family: 'Satisfy', 'cursive';
         } */

         .containerer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            /* padding: 4px 16px; */
        }

        #cards-container {
            overflow: hidden;
            margin: 20px;
        }

        .cards {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 99999px;
        }

        .card {
            /* Add shadows to create the "card" effect */
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            /* background: rgb(135,55,78); */
            -webkit-transition: 0.3s;
            transition: 0.3s;
            width: 235px;
            margin: 15px 7.5px;
        }

        .card:hover {
            -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .card .img {
            max-width: 250px;
            height: 250px;
            display: inline-block;
        }

        #slide-left-container,
        #slide-right-container {
            display: none;
        }

        #slide-left-container.active,
        #slide-right-container.active {
            display: block;
            cursor: pointer;
        }

        .slide-left,
        .slide-right {
            border-color: #0f0101;
            border-style: solid;
            height: 20px;
            width: 20px;
            margin-top: 30%;
        }

        .slide-left {
            border-width: 4px 0 0 4px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-left: 40%;
        }

        .slide-right {
            border-width: 4px 4px 0 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin-left: 22%;
        }

        .scroller::-webkit-scrollbar {
            width: 0px;
        }


        /* ..................review icon.............. */
        .star {
            font-size: 23px;
            cursor: pointer;
        }

        .one {
            color: rgb(255, 255, 0);
        }

        .two {
            color: rgb(255, 255, 0);
        }

        .three {
            color: rgb(255, 255, 0);
        }

        .four {
            color: rgb(255, 255, 0);
        }

        .five {
            color: rgb(255, 255, 0);
        }

        /* ..................review icon.............. */

        /* .................product Button................ */
        .btn-product {
            background: var(--darkgreen);
            color: var(--white);
        }

        /* .................product Button................ */

        /* .................read more review  button.............. */
        #more {display: none;}
         /* .................read more review  button.............. */